/*
    This is the css from the application views
*/

.label{
    -fx-font-family: "Roboto";
    -fx-alignment: center;
}

#btnSignIn, #btnSignUp, #btnLogOut{
    -fx-background-color: #5b0c50;
    -fx-text-fill: white;
    -fx-font-weight: bold;

}

#btnSignUpView, #btnBack{
    -fx-background-color: white;
    -fx-font-weight: bold;
    -fx-border-color: gray;
    -fx-border-style: solid;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
}

#btnSignUpView:hover, #btnSignIn:hover, #btnSignUp:hover, #btnBack:hover, #btnLogOut:hover{
    -fx-background-color: pink;
    -fx-text-fill: black;
    -fx-font-weight: bold;
    -fx-border-color: transparent;
    -fx-border-style: solid;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;


}

